doctype html
html
    head
        title Google Sign in
    body
    header
        h1 Zaloguj się z pomocą google
        p Nie musisz się rejestrować. Wystarczy, że posiadasz już swoje konto w Google. Kliknij przycisk poniżej jeśli chcesz zalogować się przez serwis Google.
        form(action="/auth/google")
            input(type="submit", value="Sign In via google")